<% if action_type == :new %>
  <% action_url = idea.is_a?(Suggestion) ? suggestion_comments_url(idea) : event_comments_url(idea) %>
<% else %>
  <% action_url = comment_url(comment) %>
<% end %>

<% message = action_type == :new ? "Add Comment" : "Edit Comment" %>

<form class="form-horizontal" action="<%= action_url %>" method="post">
  <fieldset>
    <%= form_auth_token %>
    <legend><%= message %></legend>

    <% if action_type == :edit %>
      <input type="hidden" name="_method" value="patch">
    <% end %>

    <div class="form-group">
      <label for="comment_body" class="col-lg-2 control-label">Comment</label>
      <div class="col-lg-10">
        <textarea class="form-control" name="comment[body]" rows="3" id="comment_body" placeholder="description"><%= comment.body %></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary"><%= message %></button>
      </div>
    </div>
  </fieldset>
</form>
