<% action_url = action_type == :new ? users_url : user_url(user) %>
<% message = action_type == :new ? "Sign Up" : "Edit Information" %>

<form class="" action="<%= action_url %>" method="post">
  <%= form_auth_token %>

  <% if action_type == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="user_username"></label>
  <input type="text" name="user[username]" value="<%= user.username %>" placeholder="choose a username">
  <br>

  <label for="uesr_password"></label>
  <input type="password" name="user[password]" placeholder="password">
  <br>

  <label for="uesr_password_confirmation"></label>
  <input type="password" name="user[password_confirmation]" placeholder="password confirmation">
  <br>

  <label for="user_email"></label>
  <input type="email" name="user[email]" value="<%= user.email %>" placeholder="e-mail (never shown)">
  <br>

  <label for="user_city"></label>
  <input type="text" name="user[city]" value="<%= user.city %>" placeholder="city (optional)">
  <br>

  <label for="user_state">State: </label>
  <select id="user_state" class="" name="user[state]">
    <option disabled selected>Select State</option>
    <% us_states.each do |state| %>
      <option value="<%= state[0] %>"
        <%= "selected" if user.state == state[0] %>><%= state[0] %></option>
    <% end %>
  </select>
  <br>

  <input type="submit" name="" value="<%= message %>">
</form>
