<% action_url = action_type == :new ? users_url : user_url(user) %>
<% message = action_type == :new ? "Sign Up" : "Edit Information" %>

<form action="<%= action_url %>" method="post">
  <fieldset>
    <%= form_auth_token %>
    <legend><%= legend %></legend>

    <% if action_type == :edit %>
      <input type="hidden" name="_method" value="patch">
    <% end %>

    <label for="user_username">Username</label>
    <input id="user_username" type="text" name="user[username]" value="<%= user.username %>" placeholder="choose a username">

    <label for="user_password">Password</label>
    <input id="user_password" type="password" name="user[password]" placeholder="password">

    <label for="uesr_password_confirmation">Password Confirmation</label>
    <input id="uesr_password_confirmation" type="password" name="user[password_confirmation]" placeholder="confirm password">

    <label for="user_email">E-mail</label>
    <input id="user_email" type="text" name="user[email]" value="<%= user.email %>" placeholder="e-mail (never shown)">

    <label for="user_city">City</label>
    <input type="text" name="user[city]" value="<%= user.city %>" placeholder="city (optional)">

    <label for="user_state">State</label>
    <select name="user[state]" id="user_state">
      <option disabled selected>Select State</option>
      <% us_states.each do |state| %>
        <option value="<%= state[0] %>"
          <%= "selected" if user.state == state[0] %>><%= state[0] %></option>
      <% end %>
    </select>

    <button type="submit"><%= message %></button>
  </fieldset>
</form>
