<form class="" action="<%= user_url(user) %>" method="post">
  <%= form_auth_token %>
  <input type="hidden" name="_method" value="patch">

  <label for="user_city">City: </label>
  <input type="text" name="user[city]" value="<%= user.city %>" placeholder="city (optional)">
  <br>

  <label for="user_state">State: </label>
  <select id="user_state" class="" name="user[state]">
    <option disabled selected>Select State</option>
    <% us_states.each do |state| %>
      <option value="<%= state[0] %>"
        <%= "selected" if user.state == state[0] %>><%= state[0] %></option>
    <% end %>
  </select>
  <br>

  <input type="submit" name="" value="Edit Location">
</form>
