<h3>Location: <%= @user.formatted_location %></h3>
<p><%= link_to "Edit Location", edit_user_url(@user) %></p>
<p><a href="#my_events">Down to my created events</p>
<p><a href="#supported_actions">Down to actions I support</p>
<p><a href="#supported_events">Down to events I support</p>

<h3>My Created Actions</h3>
<%= render partial: "layouts/short_idea", locals: { ideas: @user.suggestions, idea_type: :suggestion } %>

<h3 id="my_events">My Created Events</h3>
<%= render partial: "layouts/short_idea", locals: { ideas: @user.events, idea_type: :event } %>

<h3 id="supported_actions">Actions That I Support</h3>
<%= render partial: "layouts/short_idea", locals: { ideas: @user.supported_suggestions, idea_type: :suggestion } %>


<h3 id="supported_events">Events That I Support</h3>
<%= render partial: "layouts/short_idea", locals: { ideas: @user.supported_events, idea_type: :event } %>
