<% action_url = action_type == :new ? events_url : event_url(event) %>
<% message = action_type == :new ? "Create Event!" : "Edit Event" %>
<% parsed_start_time = event.start_time ? event.parse_start_time : "" %>
<% parsed_end_time = event.end_time ? event.parse_end_time : "" %>

<form action="<%= action_url %>" method="post" class="form">
  <fieldset>
    <%= form_auth_token %>
    <legend class="form-title"><%= message %></legend>

    <% if action_type == :edit %>
      <input type="hidden" name="_method" value="patch">
    <% end %>

    <label for="event_title">Title</label>
    <input id="event_title" type="text" name="event[title]" value="<%= event.title %>" placeholder="title">

    <div class="date-time">
      <label for="event_date">Date</label>
      <input id="event_date" type="date" name="event[date]" value="<%= event.date %>">

      <label for="event_start_time">Start Time</label>
      <input id="event_start_time" type="time" name="event[start_time]" value="<%= parsed_start_time %>">

      <label for="event_end_time">End Time</label>
      <input id="event_end_time" type="time" name="event[end_time]" value="<%= parsed_end_time %>">
    </div>

    <label for="event_address">Address</label>
    <input id="event_address" type="text" name="event[address]" value="<%= event.address %>" placeholder="address">

    <label for="event_city">City</label>
    <input id="event_city" type="text" name="event[city]" value="<%= event.city %>" placeholder="city">

    <label for="event_state">State</label>
    <select name="event[state]" id="event_state">
      <option disabled selected>Select State</option>
      <% us_states.each do |state| %>
        <option value="<%= state[0] %>"
          <%= "selected" if event.state == state[0] %>><%= state[0] %></option>
      <% end %>
    </select>

    <label for="event_description">Description</label>
    <textarea name="event[description]" id="event_description" placeholder="description"><%= event.description %></textarea>

    <label for="event_categories">Categories (choose 1-3)</label><br>
    <input type="hidden" name="event[category_ids][]" value="">

    <% Category.all.each do |category| %>
      <input id="category_<%= category.name %>" type="checkbox" name="event[category_ids][]"
      value="<%= category.id %>" <%= "checked" if event.category_ids.include?(category.id) %>>
      <label for="category_<%= category.name %>"><%= category.name %></label>
      <br>
    <% end %>


    <button type="submit" class="button accept-button"><%= message %></button>
  </fieldset>
</form>
