<% action_url = action_type == :new ? events_url : event_url(event) %>
<% message = action_type == :new ? "Create Event" : "Edit Event" %>
<% parsed_start_time = event.start_time ? event.parse_start_time : "" %>
<% parsed_end_time = event.end_time ? event.parse_end_time : "" %>

<form class="form-horizontal" action="<%= action_url %>" method="post">
  <fieldset>
    <%= form_auth_token %>
    <legend><%= message %></legend>

    <% if action_type == :edit %>
      <input type="hidden" name="_method" value="patch">
    <% end %>

    <div class="form-group">
      <label for="event_title" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input id="event_title" type="text" name="event[title]" class="form-control" value="<%= event.title %>" placeholder="title">
      </div>
    </div>

    <div class="form-group">
      <label for="event_date" class="col-lg-2 control-label">Date</label>
      <div class="col-lg-10">
        <input id="event_date" type="date" name="event[date]" class="form-control" value="<%= event.date %>">
      </div>
    </div>

    <div class="form-group">
      <label for="event_start_time" class="col-lg-2 control-label">Start Time</label>
      <div class="col-lg-10">
        <input id="event_start_time" type="time" name="event[start_time]" class="form-control" value="<%= parsed_start_time %>">
      </div>
    </div>

    <div class="form-group">
      <label for="event_end_time" class="col-lg-2 control-label">End Time</label>
      <div class="col-lg-10">
        <input id="event_end_time" type="time" name="event[end_time]" class="form-control" value="<%= parsed_end_time %>">
      </div>
    </div>

    <div class="form-group">
      <label for="event_address" class="col-lg-2 control-label">Address</label>
      <div class="col-lg-10">
        <input id="event_address" type="text" name="event[address]" class="form-control" value="<%= event.address %>" placeholder="address">
      </div>
    </div>

    <div class="form-group">
      <label for="event_city" class="col-lg-2 control-label">City</label>
      <div class="col-lg-10">
        <input id="event_city" type="text" name="event[city]" class="form-control" value="<%= event.city %>" placeholder="city">
      </div>
    </div>

    <div class="form-group">
      <label for="event_state" class="col-lg-2 control-label">State</label>
      <div class="col-lg-10">
        <select class="form-control" name="event[state]" id="event_state">
          <option disabled selected>Select State</option>
          <% us_states.each do |state| %>
            <option value="<%= state[0] %>"
              <%= "selected" if event.state == state[0] %>><%= state[0] %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="event_description" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea class="form-control" name="event[description]" rows="3" id="event_description" placeholder="description"><%= event.description %></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="event_categories" class="col-lg-2 control-label">Categories</label>
      <input type="hidden" name="event[category_ids][]" value="">
      <div class="col-lg-10">
        <% Category.all.each do |category| %>
          <input id="category_<%= category.name %>" type="checkbox" name="event[category_ids][]"
          value="<%= category.id %>" <%= "checked" if event.category_ids.include?(category.id) %>>
          <label for="category_<%= category.name %>"><%= category.name %></label>
          <br>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary"><%= message %></button>
      </div>
    </div>
  </fieldset>
</form>
