<h1><%= @event.title %></h1>
<h3>Created by <%= @event.creator_name %></h3>

<h3><%= @event.upvotes_count %> supporters</h3>

<%= upvote_buttons(@event) %>

<% if current_user == @event.creator %>
  <%= link_to "Edit Event", edit_event_url(@event) %>
  <%= button_to "Delete Event", event_url(@event), method: :delete %>
<% end %>

<%= categories_string(@event) %>

<h3><%= @event.formatted_date %></h3>
<% if @event.end_time %>
  <h3><%= @event.formatted_start_time %> to <%= @event.formatted_end_time %></h3>
<% else %>
  <h3><%= @event.formatted_start_time %></h3>
<% end %>

<h3><%= @event.address %></h3>
<h3><%= @event.city %>, <%= @event.state %></h3>

<p><%= @event.description %></p>

<%= render partial: "comments/form",
locals: { action_type: :new, idea: @event, comment: Comment.new } %>

<p>All Comments</p>
<% if @event.comments.empty? %>
  <p>None so far!</p>
  <% else %>
    <% @event.comments.each do |comment| %>
      <h4><%= comment.author_name %></h4>
      <% if comment.user == current_user %>
        <%= button_to "Delete", comment_url(comment), method: :delete %>
      <% end %>
      <p><%= comment.body %></p>
    <% end %>
<% end %>
