<h1>All Actions</h1>
<%= link_to "Events", events_url %>
<%= link_to "Hot", suggestions_most_upvoted_url %>
<%= link_to "Trending", suggestions_trending_url %>

<% if logged_in? %>
  <%= link_to "Create New Action", new_suggestion_url %>
  <%= link_to "Create New Event", new_event_url %>
<% end %>

<ul>
  <%= render partial: "layouts/short_idea", locals: { ideas: @ideas, idea_type: :suggestion } %>
  <%= will_paginate @ideas %>
</ul>
