<h1><%= @suggestion.title %></h1>
<h3>Created by <%= @suggestion.creator_name %></h3>

<h3><%= @suggestion.upvotes_count %> supporters</h3>

<%= upvote_buttons(@suggestion) %>

<% if current_user == @suggestion.creator %>
  <%= link_to "Edit Action", edit_suggestion_url(@suggestion) %>
  <%= button_to "Delete Action", suggestion_url(@suggestion), method: :delete %>
<% end %>

<%= categories_string(@suggestion) %>

<p><%= @suggestion.description %></p>

<%= render partial: "comments/form",
locals: { action_type: :new, idea: @suggestion, comment: Comment.new } %>

<p>All Comments</p>
<% if @suggestion.comments.empty? %>
  <p>None so far!</p>
  <% else %>
    <% @suggestion.comments.each do |comment| %>
      <h4><%= comment.author_name %></h4>
      <% if comment.user == current_user %>
        <%= button_to "Delete", comment_url(comment), method: :delete %>
      <% end %>
      <p><%= comment.body %></p>
    <% end %>
<% end %>
