<% toggle_type = request.fullpath == "/" || request.fullpath =~ (/suggestion.*/) ? :event : :suggestion %>
<% hot_url = toggle_type == :event ? suggestions_most_upvoted_url : events_most_upvoted_url %>
<% trending_url = toggle_type == :event ? suggestions_trending_url : events_trending_url %>

<nav>
  <div>

    <div>
      <%= image_tag "angry_cat.jpg" %>
      <a href="<%= root_url %>">F*** That Noise</a>
    </div>

    <div>
      <ul>
        <% if logged_in? %>
        <li>
          <a href="#"><%= current_user.username %></a>
          <ul>
            <li><a href="<%= user_url(current_user) %>">Profile</a></li>
            <li><%= button_to "Sign Out", session_url, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign In", new_session_url %></li>
        <% end %>
        <li><%= link_to "About", about_url %></li>
        <% if toggle_type == :event %>
          <li><%= link_to "Actions",suggestions_url %></li>
          <li><%= link_to "Events", events_url %></li>
        <% else %>
          <li><%= link_to "Actions",suggestions_url %></li>
          <li><%= link_to "Events", events_url %></li>
        <% end %>
        <li><%= link_to "Hot", hot_url %></li>
        <li><%= link_to "Trending", trending_url %></li>
        <% if toggle_type == :suggestion && logged_in? %>
          <li><%= link_to "Near Me", events_near_me_url %></li>
        <% end %>
        <li><%= link_to "Categories", categories_url %></li>
        <li><%= link_to "Contact", contact_url %></li>
      </ul>
    </div>
  </div>
</nav>
