<!DOCTYPE html>
<html>
  <head>
    <title>F*** That Noise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: "layouts/nav" %>

    <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |error| %>
        <div>
          <button type="button">X</button>
          <strong><%= error %></strong>
        </div>
      <% end %>
    <% end %>

    <% if flash.now[:notice] %>
      <% flash.now[:notice].each do |notice| %>
        <div>
          <button type="button">X</button>
          <strong><%= notice %></strong>
        </div>
      <% end %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
